In [1]:
#Import Dependencies
%matplotlib notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [178]:
#Read the csv file and import it to the Data Frame
purchases = pd.DataFrame(pd.read_csv("Resources/purchase_data.csv"))
purchases.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [101]:
#Get the total number of Players
total_players = purchases['SN'].nunique()
print("Total Number of Players:", total_players)

Total Number of Players: 576

In [43]:
#---------------------Purchasing Analysis (Total) -------------------------#
#Number of Unique Items
uniqueItems = purchases['Item ID'].nunique()
print("Unique Items:", uniqueItems)

#Average Purchase Price
average_price = purchases['Price'].sum()/total_players
print("Average price:", average_price)

#Total Number of Purchases
print("Number of Purchases:", total_players)

#Total Revenue
total_revenue = purchases['Price'].sum()
print("Total Revenue:", total_revenue)

Unique Items: 183
Average price: 3.0509871794871795
Number of Purchases: 780
Total Revenue: 2379.77

In [116]:
#-------------------------Gender Demographics-----------------------------#

#Percentage and Count of Male Players
male_only = purchases[purchases["Gender"] == "Male"]
print("Male Count and Percentage:", male_only["SN"].nunique(), "%",
     np.around((male_only["SN"].nunique()/total_players)*100, 2))

#Percentage and Count of Female Players
female_only = purchases[purchases["Gender"] == "Female"]
print("Female Count:", female_only["SN"].nunique(),  "%",
     np.around((female_only["SN"].nunique()/total_players)*100, 2))
      
#Percentage and Count of Other/Non-Disclosed
other_only = purchases[purchases["Gender"] == "Other / Non-Disclosed"]
print("Other / Nondisclosed Count:", other_only["SN"].nunique(),  "%",
     np.around((other_only["SN"].nunique()/total_players)*100, 2))

Male Count and Percentage: 484 % 84.03
Female Count: 81 % 14.06
Other / Nondisclosed Count: 11 % 1.91

In [88]:
#---------------------Purchasing Analysis (Gender)------------------------#
#The below each broken by gender

                        #Purchase Count#
total
#Male
male_pc = male_only['Purchase ID'].count()
print("Male Purchase Count:", male_pc)
#Female
female_pc = female_only['Purchase ID'].count()
print("Female Purchase Count:", female_pc)
#Other
other_pc = other_only['Purchase ID'].count()
print("Other Purchase Count:", other_pc)

                    #Average Purchase Price#
#Male
print("Male APP:", male_only['Price'].sum()/male_pc)
#Female
print("Female APP:", female_only['Price'].sum()/female_pc)
#Other
print("Female APP:", other_only['Price'].sum()/other_pc)

                     #Total Purchase Value#
#Male
male_tpv = male_only['Price'].sum()
print("Male TPV:", male_tpv)
#Female
female_tpv = female_only['Price'].sum()
print("Female TPV:", female_tpv)
#Other
other_tpv = other_only['Price'].sum()
print("Other TPV:", other_tpv)

            #Average Purchase Total per Person by Gender#
#Male
print("Male APT:", male_tpv/male_pc)
#Female
print("Female APT:", female_tpv/female_pc)
#Other
print("Other APT:", other_tpv/other_pc)

Male Purchase Count: 652
Female Purchase Count: 113
Other Purchase Count: 15
Male APP: 3.0178527607361967
Female APP: 3.203008849557522
Female APP: 3.3459999999999996
Male TPV: 1967.64
Female TPV: 361.94
Other TPV: 50.19
Male APT: 3.0178527607361967
Female APT: 3.203008849557522
Other APT: 3.3459999999999996

In [206]:
#---------------------------Age Demographics------------------------------#

#The below each broken into bins of 4 years (ie. &lt;10, 10-14, 15-19, etc)
bins = [6, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46]
labels = ["Ages 7-10", "Ages 11-14", "Ages 15-18", "Ages 19-22", "Ages 23-26",
         "Ages 27-30", "Ages 31-34", "Ages 35-38", "Ages 39-42", "Ages 43-46"]

#Purchase Count

#Average Purchase Price

#Total Purchase Value

#Average Purchase Total per Person by Age Group

In [238]:
#---------------------------Top Spenders----------------------------------
#Identify the top 5 spenders in the game by total purchase value, then list (in a table)
#Iral74, Lisosia93, Idastidru52, Rarallo90, Lassilsala30
names = pd.DataFrame(purchases['SN'].value_counts().head())
names = names.reset_index()
names = names.rename(columns={"index": "SN", "SN": "Purchase Count"})

#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#top5.loc[['Lisosia93', 'Iral74', 'Idastidru52', 'Rarallo90', 'Lassilsala30'],
        #'Price']
lisa = purchases.loc[purchases['SN'] == 'Lisosia93']
iral = purchases.loc[purchases['SN'] == 'Iral74']
idas = purchases.loc[purchases['SN'] == 'Idastidru52']
rara = purchases.loc[purchases['SN'] == 'Rarallo90']
lass = purchases.loc[purchases['SN'] == 'Lassilsala30']
top2 = pd.merge(lisa, iral, how="outer")
top3 = pd.merge(top2, idas, how="outer")
top4 = pd.merge(top3, rara, how="outer")
top5 = pd.merge(top4, lass, how="outer")
top5

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,74,Lisosia93,25,Male,89,"Blazefury, Protector of Delusions",4.64
1,120,Lisosia93,25,Male,24,Warped Fetish,3.81
2,224,Lisosia93,25,Male,157,"Spada, Etcher of Hatred",4.80
3,603,Lisosia93,25,Male,141,Persuasion,3.19
4,609,Lisosia93,25,Male,40,Second Chance,2.52
5,128,Iral74,21,Male,58,"Freak's Bite, Favor of Holy Might",4.14
6,623,Iral74,21,Male,114,Yearning Mageblade,3.82
7,758,Iral74,21,Male,182,Toothpick,4.03
8,776,Iral74,21,Male,164,Exiled Doomblade,1.63
9,290,Idastidru52,24,Male,147,"Hellreaver, Heirloom of Inception",4.93
10,490,Idastidru52,24,Male,148,"Warmonger, Gift of Suffering's End",4.03
11,543,Idastidru52,24,Male,121,Massacre,1.60
12,676,Idastidru52,24,Male,111,Misery's End,4.89
13,138,Rarallo90,33,Male,136,Ghastly Adamantite Protector,3.58
14,319,Rarallo90,33,Male,144,Blood Infused Guardian,1.94
15,678,Rarallo90,33,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
16,116,Lassilsala30,21,Male,139,"Mercy, Katana of Dismay",4.94
17,511,Lassilsala30,21,Male,64,Fusion Pummel,4.82
18,763,Lassilsala30,21,Male,85,Malificent Bag,1.75

In [185]:
#----------------------------Most Popular Items--------------------------------
#Identify the most 5 popular items by purchase count, then list (in a table)
purchase_count = pd.DataFrame(purchases['Item ID'].value_counts().head())
purchase_count = purchase_count.reset_index()
purchase_count = purchase_count.rename(columns={"index": "Item ID", 
                                       "Item ID": "Purchase Count"})
#identify a list of all of the top 5 item id's that we want to put in our DF
id_list = [178, 82, 108, 145, 92]
index = [0, 1, 2, 3, 4, 5]
#purchase_count.set_index(1)
#ItemID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

topSpenders = purchases[purchases["Item ID"].isin(id_list)]

topSpenders = itemID[["Item ID", "Item Name", "Price"]]
topSpenders = itemID.drop_duplicates("Item ID")
topSpenders = pd.merge(topSpenders, purchase_count, on="Item ID", how="outer")
topSpenders
topSpenders['Total Purchase Value'] = topSpenders['Price'] * topSpenders['Purchase Count']
topSpenders

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
0,108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
1,92,Final Critic,4.88,8,39.04
2,82,Nirvana,4.90,9,44.10
3,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
4,145,Fiery Glass Crusader,4.58,9,41.22

In [ ]:
#-------------------------Most Profitable Items----------------------------
#Identify the 5 most popular items by purchase count, then list (in a table)
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value