In [1]:
#Import Dependencies
%matplotlib notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
#Read the csv file and import it to the Data Frame
purchases = pd.DataFrame(pd.read_csv("Resources/purchase_data.csv"))
purchases.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [101]:
#Get the total number of Players
total_players = purchases['SN'].nunique()
print("Total Number of Players:", total_players)

Total Number of Players: 576

In [43]:
#---------------------Purchasing Analysis (Total) -------------------------#
#Number of Unique Items
uniqueItems = purchases['Item ID'].nunique()
print("Unique Items:", uniqueItems)

#Average Purchase Price
average_price = purchases['Price'].sum()/total_players
print("Average price:", average_price)

#Total Number of Purchases
print("Number of Purchases:", total_players)

#Total Revenue
total_revenue = purchases['Price'].sum()
print("Total Revenue:", total_revenue)

Unique Items: 183
Average price: 3.0509871794871795
Number of Purchases: 780
Total Revenue: 2379.77

In [116]:
#-------------------------Gender Demographics-----------------------------#

#Percentage and Count of Male Players
male_only = purchases[purchases["Gender"] == "Male"]
print("Male Count and Percentage:", male_only["SN"].nunique(), "%",
     np.around((male_only["SN"].nunique()/total_players)*100, 2))

#Percentage and Count of Female Players
female_only = purchases[purchases["Gender"] == "Female"]
print("Female Count:", female_only["SN"].nunique(),  "%",
     np.around((female_only["SN"].nunique()/total_players)*100, 2))
      
#Percentage and Count of Other/Non-Disclosed
other_only = purchases[purchases["Gender"] == "Other / Non-Disclosed"]
print("Other / Nondisclosed Count:", other_only["SN"].nunique(),  "%",
     np.around((other_only["SN"].nunique()/total_players)*100, 2))

Male Count and Percentage: 484 % 84.03
Female Count: 81 % 14.06
Other / Nondisclosed Count: 11 % 1.91

In [88]:
#---------------------Purchasing Analysis (Gender)------------------------#
#The below each broken by gender

                        #Purchase Count#
total
#Male
male_pc = male_only['Purchase ID'].count()
print("Male Purchase Count:", male_pc)
#Female
female_pc = female_only['Purchase ID'].count()
print("Female Purchase Count:", female_pc)
#Other
other_pc = other_only['Purchase ID'].count()
print("Other Purchase Count:", other_pc)

                    #Average Purchase Price#
#Male
print("Male APP:", male_only['Price'].sum()/male_pc)
#Female
print("Female APP:", female_only['Price'].sum()/female_pc)
#Other
print("Female APP:", other_only['Price'].sum()/other_pc)

                     #Total Purchase Value#
#Male
male_tpv = male_only['Price'].sum()
print("Male TPV:", male_tpv)
#Female
female_tpv = female_only['Price'].sum()
print("Female TPV:", female_tpv)
#Other
other_tpv = other_only['Price'].sum()
print("Other TPV:", other_tpv)

            #Average Purchase Total per Person by Gender#
#Male
print("Male APT:", male_tpv/male_pc)
#Female
print("Female APT:", female_tpv/female_pc)
#Other
print("Other APT:", other_tpv/other_pc)

Male Purchase Count: 652
Female Purchase Count: 113
Other Purchase Count: 15
Male APP: 3.0178527607361967
Female APP: 3.203008849557522
Female APP: 3.3459999999999996
Male TPV: 1967.64
Female TPV: 361.94
Other TPV: 50.19
Male APT: 3.0178527607361967
Female APT: 3.203008849557522
Other APT: 3.3459999999999996

In [99]:
#---------------------------Age Demographics------------------------------#

#The below each broken into bins of 4 years (ie. &lt;10, 10-14, 15-19, etc)
bins = [6, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46]
labels = ["Ages 7-10", "Ages 11-14", "Ages 15-18", "Ages 19-22", "Ages 23-26",
         "Ages 27-30", "Ages 31-34", "Ages 35-38", "Ages 39-42", "Ages 43-46"]

#Purchase Count

#Average Purchase Price

#Total Purchase Value

#Average Purchase Total per Person by Age Group

array([20, 40, 24, 23, 22, 36, 35, 21, 30, 38, 29, 11,  7, 19, 37, 10,  8,
       18, 27, 33, 32, 25, 12, 34, 17, 15, 13, 26, 16, 28, 31, 39, 44, 41,
        9, 14, 42, 43, 45], dtype=int64)

In [ ]:
#